nav{
    background: url(https://images.pexels.com/photos/7130488/pexels-photo-7130488.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    width: 100%;
    
}
.menu{
    list-style: none;
    margin: 0%;
    padding: 0%;
    width: 100%;
}

.menu .lista{
    display: inline-block;
}
.lista-r{
    float: right;
    padding: 0px 0px;
}

.lista a{
    text-decoration: none;
    color: white;
    padding: 15px ;
    display: block;

}

.lista a:hover{
    background-color: tomato;
}